@import url("./normilize.scss");
.that-text {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}

.container {
  max-width: 855px;
  min-width: 375px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_block {
  background-color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about_block_header {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about_block_header_nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 236px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 27px;
  margin-right: 60px;
}

.about_block_header_nav a {
  color: black;
  text-decoration: none;
}

.about_block_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 855px;
  height: 315px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 855px) {
  .about_block_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    height: 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about_block_info_content {
  width: 506px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 855px) {
  .about_block_info_content {
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about_block_info_content_title {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  color: #21243D;
  font-size: 44px;
  margin: 0;
}

@media (max-width: 855px) {
  .about_block_info_content_title {
    font-size: 32px;
    text-align: center;
  }
}

.about_block_info_content_text {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  color: #21243D;
  font-size: 16;
  overflow-wrap: break-word;
}

@media (max-width: 855px) {
  .about_block_info_content_text {
    text-align: center;
  }
}

.about_block_info_content a {
  text-decoration: none;
}

@media (max-width: 855px) {
  .about_block_info_content a {
    margin-left: auto;
    margin-right: auto;
  }
}

.about_block_info_content_button {
  width: 208px;
  height: 48px;
  background: #FF6464;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_block_info_content_button span {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 20px;
}

.about_block_info_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_block_info_photo_image {
  border-radius: 50%;
  -webkit-box-shadow: -5px 13px 0px #EDF7FA;
          box-shadow: -5px 13px 0px #EDF7FA;
  width: 248px;
  height: 256px;
}

@media (max-width: 855px) {
  .about_block_info_photo_image {
    width: 174.38px;
    height: 180px;
  }
}

@media (max-width: 855px) {
  .about_block_info_photo {
    padding-bottom: 34px;
  }
}

.recent_posts {
  max-width: 100%;
  max-height: 400px;
  background-color: #EDF7FA;
}

@media (max-width: 855px) {
  .recent_posts {
    max-height: 700px;
  }
}

@media (max-width: 680px) {
  .recent_posts {
    max-height: 540px;
  }
}

@media (max-width: 513px) {
  .recent_posts {
    max-height: 570px;
  }
}

@media (max-width: 500px) {
  .recent_posts {
    max-height: 600px;
  }
}

@media (max-width: 474px) {
  .recent_posts {
    max-height: 670px;
  }
}

.recent_posts_content {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent_posts_content_title {
  padding-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 855px) {
  .recent_posts_content_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.recent_posts_content_title span {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  color: #21243D;
  font-size: 22px;
}

@media (max-width: 855px) {
  .recent_posts_content_title span {
    font-size: 18px;
  }
}

.recent_posts_content_title a {
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #00A8CC;
}

@media (max-width: 855px) {
  .recent_posts_content_title a {
    display: none;
  }
}

.recent_posts_content_cards {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 22px;
}

@media (max-width: 855px) {
  .recent_posts_content_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recent_posts_content_cards_card {
  padding: 23px 24px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  max-width: 418px;
}

@media (max-width: 855px) {
  .recent_posts_content_cards_card {
    max-width: 100%;
    margin-bottom: 17px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.recent_posts_content_cards_card:first-child {
  margin-right: 20px;
}

@media (max-width: 855px) {
  .recent_posts_content_cards_card:first-child {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.recent_posts_content_cards_card_title h1 {
  margin: 0px;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  color: #21243D;
  font-size: 26px;
}

.recent_posts_content_cards_card_info {
  padding-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #21243D;
}

.recent_posts_content_cards_card_info_vl {
  height: 21px;
  border: 1px solid #000000;
  margin: 0px 26px;
}

.recent_posts_content_cards_card_text {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  padding-top: 11px;
  font-size: 16px;
  color: #21243D;
}

.featured_works {
  max-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
}

.featured_works_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 83px;
}

.featured_works_content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 27px;
}

@media (max-width: 855px) {
  .featured_works_content_title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.featured_works_content_title span {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  color: #21243D;
  font-size: 22px;
}

@media (max-width: 855px) {
  .featured_works_content_title span {
    font-size: 18px;
  }
}

.featured_works_content_posts {
  padding-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 855px) {
  .featured_works_content_posts {
    padding-top: 24px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

.featured_works_content_posts_post {
  width: 100%;
  max-height: 207px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 31px 0px 27px 0px;
  border-bottom: 1px solid #E0E0E0;
}

@media (max-width: 855px) {
  .featured_works_content_posts_post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 450px;
  }
}

.featured_works_content_posts_post:first-child {
  padding-top: 0px;
}

.featured_works_content_posts_post_picture {
  width: 40%;
  height: 100%;
  padding-right: 18px;
}

@media (max-width: 855px) {
  .featured_works_content_posts_post_picture {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.featured_works_content_posts_post_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured_works_content_posts_post_description_header h1 {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #21243D;
}

@media (max-width: 855px) {
  .featured_works_content_posts_post_description_header {
    padding-bottom: 17px;
  }
}

.featured_works_content_posts_post_description_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 855px) {
  .featured_works_content_posts_post_description_about {
    padding-bottom: 17px;
  }
}

.featured_works_content_posts_post_description_about_year {
  margin-right: 26px;
  width: 62px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured_works_content_posts_post_description_about_year span {
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: white;
}

.featured_works_content_posts_post_description_about_subject {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #8695A4;
}

.featured_works_content_posts_post_description_text {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #21243D;
}

.featured_works_content_posts_post_description_text p {
  overflow-wrap: break-word;
  margin: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 182px;
  max-width: 100%;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 230px;
  margin-bottom: 26;
}
/*# sourceMappingURL=style.css.map */